In [1]:
# 32번 - 단어 수 세기 
print(len(input().split(' ')))

저 넓은 세상을 네 눈앞에 그려봐 네 진심을 느껴봐
9

In [27]:
# 33번 - 거꾸로 출력하기
num_list = list(map(int, input().split(' ')))
for data in reversed(num_list):
    print(data , end=' ')

1 2 3 4 5
5 4 3 2 1

In [23]:
# 34번 - sort 구현하기
n = list(map(int, input().split()))
sorted_n = sorted(n)

if n == sorted_n:
    print('YES')
else:
    print('NO')

1 2 3 4 5
YES

In [63]:
# 35번 - Factory 함수 사용

def one(n):
    def two(value):
        return value ** n
    return two

a = one(2)
b = one(3)
c = one(4)

print(a(10))
print(b(10))
print(c(10))

100
1000
10000

In [26]:
# 36번 - 구구단 출력하기 
n = int(input())
for i in range(1,10):
    print(i * n , end = ' ')

2
2 4 6 8 10 12 14 16 18

In [38]:
# 37번 - count 사용하기
students = input().split(' ')
mx_idx = 0
mx_count = 0
for idx, data in enumerate(students):
    if students.count(data) > mx_count:
        mx_count = students.count(data)
        mx_idx = idx
print('{}(이)가 총 {}표로 반장이 되었습니다.'.format(students[mx_idx], mx_count))

원영 원영 은비 은비 은비 은비 채연 채연
은비(이)가 총 4표로 반장이 되었습니다.

In [48]:
# 38번
students = sorted(list(map(int, input().split(' '))), reverse=True)
cnt = 0
rank = 1

for i in range(1, len(students)):
    if (students[i - 1] == students[i] and rank <= 3) or (students[i - 1] != students[i] and rank <= 3):
        cnt += 1
        if students[i - 1] != students[i]:
            rank += 1
    if rank > 3:
        break
print(cnt)

97 86 75 66 55 97 85 97 97 95
[97, 97, 97, 97, 95, 86, 85, 75, 66, 55]
6

In [51]:
# 39 번 
# 문장이 입력되면 모든 q를 e로 바꿔주는 프로그램
st = input()
print(st.replace('q', 'e'))

La viq qn rosq
La vie en rose

In [62]:
# 40 번
weight = int(input())
n = int(input())
temp_list = list()
total = 0
cnt = 0
for i in range(0, n):
    temp = int(input())
    temp_list.append(temp)

for i in temp_list:
    total += i
    if total > weight:
        break
    cnt += 1
print(cnt)

50
5
20
20
20
20
20
2

In [67]:
# 41번
num = int(input())
idx = 2
cnt = 0
while True: 
    if idx == num:
        break
    if num % idx == 0:
        cnt += 1
    idx += 1

if cnt >= 1:
    print("NO")
else:
    print("YES")

6
NO

In [82]:
# 42번
def solution():
    months = {1:31, 2:29, 3:31, 4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:31}
    days = ['WED', 'THU', 'FRI', 'SAT', 'SUN', 'MON', 'TUE']

    a, b = list(map(int, input().split()))

    total_days = 0
    for i in range(1, a):
        total_days += months[i]

    total_days += b - 1
    return days[total_days % 7]


solution()

5 24

'SUN'

In [133]:
import datetime
days = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']
a, b = list(map(int, input().split()))
print(days[datetime.date(2020,a,b).weekday()])

5 24
SUN

In [100]:
# 43번
def make_binary(n):
    if n < 2:
        return '1'
    else:
        return str(make_binary(n // 2)) + str(n % 2)
n = int(input())
print(make_binary(n))

6
110

In [102]:
# 44번 
n = input()
sum_num = 0
for i in n:
    sum_num += int(i)
print(sum_num)

1234
10

In [113]:
# 45번
import time
print(dir(time))
print(time.localtime().tm_year)

['_STRUCT_TM_ITEMS', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'altzone', 'asctime', 'clock', 'ctime', 'daylight', 'get_clock_info', 'gmtime', 'localtime', 'mktime', 'monotonic', 'monotonic_ns', 'perf_counter', 'perf_counter_ns', 'process_time', 'process_time_ns', 'sleep', 'strftime', 'strptime', 'struct_time', 'time', 'time_ns', 'timezone', 'tzname', 'tzset']
2019

In [117]:
# 46번
num_str = ''
for i in range(1,21):
    num_str += str(i)

num_tot = 0
print(num_str)
for i in num_str:
    num_tot += int(i)
print(num_tot)

1234567891011121314151617181920
102

In [118]:
# 47 번 
# set => len

In [119]:
# 48 번
n = input()
change_n = ''
for i in n:
    if i.islower():
        change_n += i.upper()
    elif i.isupper():
        change_n += i.lower()
print(change_n)

aBcD
AbCd

In [121]:
# 49 번
nums = list(map(int, input().split(' ')))
print(max(nums))

1 2 3 4 5
5

In [128]:
# 50 번
def bubble(n, data):
    for i in range(n-1):
        for j in range(len(data) - 1):
            if data[j] > data[j + 1]:
                temp = data[j]
                data[j] = data[j + 1]
                data[j+1] = temp
    for i in range(n):
        print(data[i], end=" ")
n = int(input())
data = list(map(int, input().split()))

bubble(n, data)

5
4 2 3 8 5
2 3 4 5 8